body {
  overflow: hidden;
  background-color: grey;
}
.buttons button {
  display: block;
  width: 125px;
  height: 80px;
  margin-bottom: 30px;
  font-size: large;
  background-color: aqua;
  border-radius: 8px;

  margin-top: 10px;
}

.container {
  background-color: Black;
  height: 1000px;
  position: absolute;
  width: 1500px;
  left: 500px;
  top: 150px;
}

.bars {
  float: left;
  height: 200px;
  border: 1px solid green;
  width: 18px;
  background-color: rgb(111, 25, 25);
}

#explanation {
  font-size: 30px;
  font-weight: bold;
}

.slider {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  border-radius: 8px;

  height: 20px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
}

.box {
  border: 2px solid red;
  padding: 12px 20px;
  margin: 8px 2px;
  box-sizing: border-box;
  border-radius: 8px;
}

.submit {
  border-radius: 8px;
  margin: 8px 2px;
}

h1 {
  text-align: center;
  font-size: 50px;
}
